@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #279EFF;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  box-sizing: border-box;
  overflow-x: hidden;
  background: #F2F2F2;
}

a {
  text-decoration: none;
}

section {
  padding: 5rem 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: white;
}
header .logo {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 4rem;
}
header .logo span {
  color: var(--primary-color);
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10rem;
}
nav ul li a {
  color: black;
  font-size: 1.2rem;
  display: block;
  padding: 0.8rem 1.2rem;
  text-align: center;
}
nav ul li a:hover {
  font-weight: bold;
}
nav .close {
  float: right;
  margin: 1rem;
  cursor: pointer;
  width: 1.5rem;
}

.menu {
  cursor: pointer;
  width: 1.8rem;
}

.open-nav {
  transform: translateX(0%);
}

.BgColour {
  height: 3rem;
  transition: all 1s;
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.BgColour a {
  color: black;
}

.about .container {
  border: 3px solid rgba(249, 249, 249, 0.1);
  padding: 1.5rem;
  text-align: center;
}
.about .container p {
  text-align: justify;
  color: gray;
  line-height: 1.8rem;
  font-size: 0.8rem;
}
.about .container p span {
  color: var(--primary-color);
  font-weight: bold;
}
.about .container h2 {
  position: relative;
  font-size: 1.2rem;
  font-weight: normal;
}
.about .container .about-cta {
  text-align: center;
}
.about .container .about-cta .primary-about {
  border: 5px solid var(--primary-color);
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.4rem 1.2rem;
  border-radius: 5rem;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem;
  margin-right: 1rem;
}
.about .container .about-cta .primary-about:hover {
  background: var(--primary-color);
  color: white;
}

.portfolio {
  text-align: center;
  margin: 0;
}
.portfolio .portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  list-style-type: none;
  gap: 2rem;
}
.portfolio li {
  border: 3px solid rgba(249, 249, 249, 0.1);
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  margin-bottom: 2rem;
}
.portfolio li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .container h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: normal;
}
.contact .container label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.contact .container input, .contact .container textarea {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.contact .container input[type=button] {
  background: var(--primary-color);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.6rem 1.2rem;
  width: unset;
  border-radius: 5rem;
  cursor: pointer;
}
.contact .container iframe {
  width: 100%;
  height: 300px;
  margin-top: 4rem;
}

.contact {
  margin: 1rem;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}/*# sourceMappingURL=main.css.map */