@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #279EFF;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    overflow-x: hidden;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 0.2s;
}

a {
    text-decoration: none;
}

section {
    padding: 5em 2em;
}

.hero-b {
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/hacker.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: -1;

}

header  {
    display: flex;
    justify-content: space-between;
    padding: 1.5em;

    .logo {
        position: relative;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;

        span {
            color: var(--primary-color);
        }
    }
}

    nav {
        position: fixed;
        top: 0;
        right: 0;
        background: white;
        width: 50%;
        height: 100%;
        z-index: 999;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 4em;

            li a {
                color: black;
                font-size: 1.2em;
                display: block;
                padding: .8em 1.2em;
                text-align: right;

                &:hover {
                    font-weight: bold;
                }
            }
        }
        .close {
            float: right;
            margin: 1em;
            cursor: pointer;
            width: 1.5em;
        }
    }

    .menu {
        cursor: pointer;
        width: 1.8em;
        
    }

.open-nav {
    transform: translateX(0%);
}

.BgColour {
    
    transition: all 1s;
    background-color: white;
    border-bottom: 1px solid lightgray;

    a {
        color: black;
    }

    .logo {
        color: black;
    }
}

.hero {
    text-align: center;
    margin-bottom: 10em;

    .subhead {
        color: gray;
        font-weight: bold;
        letter-spacing: .2em;
    }

    h1 {
        font-size: 3rem;
        line-height: 1.3em;
        margin-top: .2em;
        color: white;
    }

    h2 {
        font-size: 2em;
        color: var(--primary-color);
        font-weight: bold;
        margin-top: -.5em;
    }

    .primary-cta {
        border: 5px solid var(--primary-color);
        color: white;
        font-size: 1.4em;
        font-weight: bold;
        padding: .6em 1.2em;
        border-radius: 5em;
        cursor: pointer;
        display: inline-block;
        margin-bottom:  2em;

        &:hover {
            background: var(--primary-color);
            color: white;
        }
    }
}

.about .container {
    padding: 2em;
    
    img {
        width: 16em;
        height: 24em;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid rgba(249,249,249, 0.1);
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 /73%) 0px 16px 10px -10px;
        }

        border: 3px solid rgba(249,249,249, 0.1);
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 /73%) 0px 16px 10px -10px;
        margin: 1.5em;

        p {
        text-align: justify;

        span {
            color: var(--primary-color);
            font-weight: bold;
        }
    }

    h1 {
        font-size: 2rem;
    }

    .about-cta {
        text-align: center;

        .primary-about {
            border: 5px solid var(--primary-color);
            color: black;
            font-size: .9em;
            font-weight: bold;
            padding: .4em 1.2em;
            border-radius: 5em;
            cursor: pointer;
            display: inline-block;
            margin-top: 1em;
            margin-right: 1em;

            &:hover {
                background: var(--primary-color);
                color: white;
            }
        }

    }
}

.service {
    text-align: center;
    background: #F1EFEF;

    ul {
        list-style-type: none;
    }

    li {
        border: 3px solid rgba(249,249,249, 0.1);
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 /73%) 0px 16px 10px -10px;
        margin-bottom: 2em;
        padding: 2em 1em;
        background: white;

        .service-cta a {
            color: black;
            margin-right: 1em;
        }
    }
}

.hero-bg {
    background: url("img/back.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: .7;
}

.skill {
    color: white;

    ul li {
        font-weight: bold;
        margin: 1.5em 2.5em;
        font-size: 1.2rem;
    }
}
.contact {
    margin-top: -4em;
    h2 {
        font-size: 2.5em;
    }

    label {
        display: block;
        font-size: 1.2em;
        margin-bottom: 1em;
    }

    input, textarea {
        width: 100%;
        padding: .9em;
        border: 1px solid gray;
        border-radius: .5em;
        margin-bottom: 1em;
    }

    input[type="button"] {
        background: var(--primary-color);
        color: white;
        border: none;
        font-weight: bold;
        font-size: 1.2em;
        padding: .8em 1.4em;
        width: unset;
        border-radius: 5em;
        cursor: pointer;
        
    }

    iframe {
        width: 100%;
        height: 300px;
        margin-top: 4em;
    }
}

.portfolio {
    margin-top: 8em;

    h2 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 2em;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2em;
        list-style-type: none;
        
        li {
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 /73%) 0px 16px 10px -10px;
        }
        
    }
}

.section-footer {
    background: #051129;
    color: white;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 1.5em;

        img {
            width: 1.5em;
            background: white;
            border-radius: 50%;
        }

        .left-col {

            li {
                color: gray;
                margin: 0 -2.5em;
                margin-bottom: 1em;
                font-size: 0.9em;
            }  
        }

        .mid-col {
            ul {
                display: flex;
                gap: 1em;
                margin: 0 -2.5em;
            }
        }
        .right-col {
            ul {
                margin: 0 -2.5em;
                
                li {
                    padding-bottom: 1em;

                    a {
                        color: gray;
                    }
                }
            }
        } 
    }

    ul {
        list-style-type: none;
    }
    p {
        border-top: 1px solid gray;
        padding-top: 1em;
        font-size: 0.9em;
        color: gray;
        text-align: center;
    }
}

@media only screen and (min-width: 768px){
    body {
        font-family: 'Poppins', sans-serif;
    }

    .hero {
        padding: 14em 8em;
    }

    .about {
        margin: 12em 2em 2em 2em;
    }

    .service {
        padding: 5em 6em;
    }

    .contact {
        padding: 5em 8em;
    }
}

@media only screen and (min-width:  920px) {
    .menu {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        z-index: 100;

        .logo {
            color: white;
        }
    }

    nav {
        transform: translateX(0);
        position: sticky;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin: 0 14em 0 0;

        ul .current a {
            font-weight: bold;
        }

        ul {
            display: flex;
            margin: 0;

            li a {
                color: white;
                font-size: 1.1em;
                padding: 0 1.5em;
                
            }
        }

        .close {
            display: none;
        }
    }

    .hero .hero-img {
        width: 22em;
        height: 25em;
    }
    .about .container {
        display: flex;
        justify-content: space-between;
        gap: 5em;
    }
    .about .about-cta .primary-about {
        margin-right: 5em;
        
    }

    .skill {
        margin-top: -2em;

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }

        li {
            margin-bottom: 2em;
            margin-top: 2em;
        }
    }

    .service-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2em;
    }
    .service {
        li {
            padding: 2em 1em;
            width: 80%;
            margin: 0;
        }
    }
}

@media only screen and (min-width: 1020px) {

    .service {
        h1 {
            font-size: 2em;
        }

        .title {
            font-weight: 500;
            color: gray;
            letter-spacing: .1em;
            margin-bottom: 3em;
        }
        
        li {
            background: white;
        }
    }

    .hero .container {
        .left-col {
            text-align: center;
        }
    }

    .skill .container {
        margin-left: 14em;
    }

    .contact .container{
        display: flex;
        justify-content: space-between;

        .left-col {
            width: 70%;
        }
        iframe {
            width: 40%;
            height: 38rem;
        }
    }
}

