@import 
url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #279EFF;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

section {
    padding: 5rem 2rem;
}

.hero-b {
    position: absolute;
    top: 0;
    left: 0;
    background: url('img/hacker.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;

}

header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    .logo {
        position: relative;
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
        width: 4rem;

        span {
            color: var(--primary-color);
        }
    }
}

    nav {
        position: fixed;
        top: 0;
        right: 0;
        background: white;
        width: 50%;
        height: 100%;
        z-index: 999;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        ul {
            list-style-type: none;
            padding: 0;
            margin-top: 4rem;

            li a {
                color: black;
                font-size: 1.2rem;
                display: block;
                padding: .8rem 1.2rem;
                text-align: right;

                &:hover {
                    font-weight: bold;
                }
            }
        }
        .close {
            float: right;
            margin: 1rem;
            cursor: pointer;
            width: 1.5rem;
        }
    }

    .menu {
        cursor: pointer;
        width: 1.8rem;
    }

.open-nav {
    transform: translateX(0%);
}

.BgColour {
    height: 3rem;
    transition: all 1s;
    background-color: white;
    border-bottom: 1px solid lightgray;

    a {
        color: black;
    }
}

.hero {
    text-align: center;
    margin-top: 4rem;

    .subhead {
        color: gray;
        font-weight: bold;
        letter-spacing: .2rem;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
        margin-top: .2rem;
        color: white;
    }

    h2 {
        font-size: 1.8rem;
        color: var(--primary-color);
        font-weight: bold;
        margin-top: -.5rem;
    }

    .primary-cta {
        border: 5px solid var(--primary-color);
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        padding: .6rem 1.2rem;
        border-radius: 5rem;
        cursor: pointer;
        display: inline-block;
        margin-bottom:  2rem;

        &:hover {
            background: var(--primary-color);
            color: white;
        }
    }
}

.about {
    .container {
        border: 3px solid rgba(249,249,249, 0.1);
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 /73%) 0px 16px 10px -10px;
        padding: 1.5rem;

        img {
            position: relative;
            left: 0;
            text-align: left;
            width: 10rem;
            height: 16rem;
            object-fit: cover;
            border-radius: 50%;
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 /73%) 0px 16px 10px -10px;
            margin: 1.5rem;
            margin-bottom: 3rem;

            }
            
            p {
            text-align: justify;

            span {
                color: var(--primary-color);
                font-weight: bold;
            }
        }

        h1 {
            position: relative;
            font-size: 2rem;
            
        }

        .about-cta {
            text-align: center;

            .primary-about {
                border: 5px solid var(--primary-color);
                color: black;
                font-size: .9rem;
                font-weight: bold;
                padding: .4rem 1.2rem;
                border-radius: 5rem;
                cursor: pointer;
                display: inline-block;
                margin-top: 1rem;
                margin-right: 1rem;

                &:hover {
                    background: var(--primary-color);
                    color: white;
                }
            }

        }
    }
}
.service {
    text-align: center;
    background: #F1EFEF;

    ul {
        list-style-type: none;
    }

    li {
        border: 3px solid rgba(249,249,249, 0.1);
        box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
        rgb(0 0 0 /73%) 0px 16px 10px -10px;
        margin-bottom: 2rem;
        padding: 2rem 1rem;
        background: white;

        .service-cta a {
            color: black;
            margin-right: 1rem;
        }
    }
}

.hero-bg {
    background: url("img/back.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    position: absolute;
    left: 0;
    z-index: -1;
    opacity: .7;
}

.skill {
    color: white;

    ul li {
        font-weight: bold;
        margin: 1.5rem 2.5rem;
        font-size: 1.2rem;
    }
}
.contact .container {
    margin-top: -7rem;

    h2 {
        font-size: 2.5rem;
    }

    label {
        display: block;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    input, textarea {
        width: 100%;
        padding: .9rem;
        border: 1px solid gray;
        border-radius: .5rem;
        margin-bottom: 1rem;
    }

    input[type="button"] {
        background: var(--primary-color);
        color: white;
        border: none;
        font-weight: bold;
        font-size: 1.2rem;
        padding: .8rem 1.4rem;
        width: unset;
        border-radius: 5rem;
        cursor: pointer;
        
    }

    iframe {
        width: 100%;
        height: 300px;
        margin-top: 4rem;
    }
}

.portfolio {
    

    h2 {
        text-align: center;
        font-size: 2rem;
        
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .portfolio-list {
        list-style-type: none;
        

        li {
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 /73%) 0px 16px 10px -10px;
            margin-bottom: 1.5rem;
        }
    }
}

.section-footer {
    background: #051129;
    color: white;

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 1.5rem;

        img {
            width: 1.5rem;
            background: white;
            border-radius: 50%;
        }

        .left-col {
            
            li {
                color: gray;
                margin: 0 -2.5rem;
                margin-bottom: 1rem;
                font-size: 0.9rem;
            }  
        }

        .mid-col {
            ul {
                display: flex;
                gap: 1rem;
                margin: 0 -2.5rem;
            }
        }
        .right-col {
            ul {
                margin: 0 -2.5rem;
                
                li {
                    padding-bottom: 1rem;

                    a {
                        color: gray;
                    }
                }
            }
        } 
    }

    ul {
        list-style-type: none;
    }
    p {
        border-top: 1px solid gray;
        padding-top: 1rem;
        font-size: 0.9rem;
        color: gray;
        text-align: center;
    }
}

.contact {
    margin: 1rem;
}

.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

@media only screen and (min-width: 280px) {
    .hero {
        margin-top: 2rem;
    }
    .about {
        margin-top: 7rem;
    }

    .skill {
        margin-top: -3rem;
    }

    .portfolio {
        margin-top: -4rem;
    }
}

@media only screen and (min-width: 400px){
   .about {
    margin-top: 11rem;
   }

   .portfolio {
    margin-top: 4rem;
   }
}

@media only screen and (min-width:  768px) {
    .menu {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        z-index: 100;
    }

    nav {
        transform: translateX(0);
        position: sticky;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin: 0 14rem 0 0;

        ul .current a {
            font-weight: bold;
        }

        ul {
            display: flex;
            margin: 0;

            li a {
                color: white;
                font-size: 1.1rem;
                padding: 0 1.5rem;
                
            }
        }

        .close {
            display: none;
        }
    }

    .about .container {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
        margin-top: 6rem;
    }
    .about .about-cta .primary-about {
        margin-right: 5rem;
        
    }

    .hero-b {
        height: 60vh;
    }

    .service-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2rem;
    }
    .service {
        li {
            padding: 2rem 1rem;
            width: 80%;
            margin: 0;
        }
    }

    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2rem;
        list-style-type: none;
        
        li {
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 /73%) 0px 16px 10px -10px;
        }
        
    }

    .hero-bg {
        height: 40vh;
    }

    .contact .container{
        display: flex;
        justify-content: space-between;
        gap: 6rem;

        .left-col {
            width: 70%;
        }
        iframe {
            width: 40%;
            height: 38rem;
        }
    }
}

@media only screen and (min-width:  1025px) {
    .menu {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        z-index: 100;
    }

    nav {
        transform: translateX(0);
        position: sticky;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin: 0 14rem 0 0;

        ul .current a {
            font-weight: bold;
        }

        ul {
            display: flex;
            margin: 0;

            li a {
                color: white;
                font-size: 1.1rem;
                padding: 0 1.5rem;
                
            }
        }

        .close {
            display: none;
        }
    }

    .hero .hero-img {
        width: 22rem;
        height: 25rem;
    }
    .about .container {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }
    .about .about-cta .primary-about {
        margin-right: 5rem;
        
    }

    .skill {
        margin-top: -2rem;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

        li {
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }

    .service-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2rem;
    }
    .service {
        li {
            padding: 2rem 1rem;
            width: 80%;
            margin: 0;
        }
    }

    .portfolio-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        gap: 2rem;
        list-style-type: none;
        
        li {
            border: 3px solid rgba(249,249,249, 0.1);
            box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
            rgb(0 0 0 /73%) 0px 16px 10px -10px;
        }
        
    }

    .BgColour {
        .logo {
            filter: brightness(0);
        }
    }

}

@media only screen and (min-width: 1201px) {
    .menu {
        display: none;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 10%;
        z-index: 100;
    }

    nav {
        transform: translateX(0);
        position: sticky;
        display: block;
        width: auto;
        height: auto;
        background: none;
        margin: 0 14rem 0 0;

        ul .current a {
            font-weight: bold;
        }

        ul {
            display: flex;
            margin: 0;

            li a {
                color: white;
                font-size: 1.1rem;
                padding: 0 1.5rem;
                
            }
        }

        .close {
            display: none;
        }
    }

    .service {
        h1 {
            font-size: 2rem;
        }

        .title {
            font-weight: 500;
            color: gray;
            letter-spacing: .1rem;
            margin-bottom: 3rem;
        }
        
        li {
            background: white;
        }
    }

    .hero .container {
        .left-col {
            text-align: center;
        }
    }

    .skill .container {
        margin-left: 14rem;
    }

    .contact .container{
        display: flex;
        justify-content: space-between;
        gap: 6rem;

        .left-col {
            width: 70%;
        }
        iframe {
            width: 40%;
            height: 38rem;
        }
    }
}

